.chat-app {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  .transaction-list {
    width: 30%;
    border-right: 1px solid #eceff1;
    background-color: #fff;
    overflow-y: auto;
  }
  
  .chat-window {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  