
.more-service-container {
    position: relative; 
    display: inline-block;

  }
  
  /* Adjusting position of MoreServices component */
  .more-services-container {
    position: absolute;
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    z-index: 100;
    color: black;
    top: 0px; /* Align with the top of the "More" button */
    left: 70%; /* Place the dropdown to the right */
    margin-left: 10px; /* Add a small gap between the button and dropdown */
    
  }
  
  .more-services-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .more-services-container li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .more-services-container li:hover {
    background-color: #e9ecef;
  }
  


  @media (max-width: 500px) {
    .more-services-container {
      position: absolute;
      width: 200px; /* Takes the full width on small screens */
      margin-left: 0;
      left: -45px;
      top: 80px;
      margin-top: 10px; /* Adds some space between the button and dropdown */
    }
  }