.rechargeform-row{
  margin-top: -60px;
}

.recharge-form-container{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
}

.input-box .input-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 250px;
  height: 2px;
  background: #00baf2;
  transition: .5s ease;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #02c2fc;
  pointer-events: none;
  transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -4px;
}

.input-box select:focus~label,
.input-box select:valid~label {
  top: -4px;
}


.input-check:checked~.input-box label {
  color: #00f7ff;
  text-shadow: 0 0 10px #0abec4;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  color: black;
  padding: 0 35px 0 5px;
  font-weight: 500;
  transition: .5s ease;
}

.btn-recharge{
  background-color: #00baf2;
  border: 2px solid #0284c7;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.btn-recharge:hover{
  background-color: #0284c7;
  border: 2px solid #00baf2;
}

