@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html{
    background-color: rgb(224, 245, 253);
    overflow-x: hidden;
}

*{
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    background-color: rgb(224, 245, 253);

}
.row{
    width: 100%;
}