@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html{
    background-color: rgb(224, 245, 253);
    overflow-x: hidden;
}

*{
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    background-color: rgb(224, 245, 253);

}
.row{
    width: 100%;
}

::-webkit-scrollbar{
    width: 5px; 
    height: 12px;
}

::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
    color: rgb(74, 74, 194);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(133, 101, 110);
    border-radius: 5px;
   
}