/* Container styles */
.payment-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px #3a0c0c;
}

.payment-container h4 {
  text-align: center;
  margin-bottom: 20px;
}

/* Payment option styles */
.payment-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.payment-option {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #3a0c0c;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.payment-option.active {
  border-color: #6064b6;
  background-color: #e9ecf4;
}

.payment-option input {
  margin-right: 10px;
}

/* Floating input fields */
.floating-input-container {
  position: relative;
  margin-bottom: 20px;
}

.floating-input-container input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #3a0c0c; /* Border color */
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
  background-color: transparent;
}

.floating-input-container input:focus {
  border-color: #0056b3; /* Focus border color */
}

.floating-input-container label {
  position: absolute;
  top: 40%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #666; /* Initial label color */
  transition: 0.3s;
  font-weight: 500;
}

/* When input is focused or filled, label moves up */
.floating-input-container input:focus ~ label,
.floating-input-container input:not(:placeholder-shown) ~ label {
  top: -10px;
  left: 12px;
  font-size: 14px; /* Adjusted size for the floating effect */
  color: #007bff; /* Active label color */
  background-color: #f9f9f9; /* Background to avoid overlap */
  padding: 0 2px; /* Padding to prevent overlap */
}

.upi-details input,
.netbanking-details select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button styles */
.btn-proceed {
  width: 100%;
  padding: 10px;
  background-color: #6064b6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-proceed:hover {
  background-color: #424c83;
  border: 2px solid blueviolet;
}
